[Unit]
Description=DuckDNS update job
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/duckdns

[Install]
WantedBy=multi-user.target